body {
    font-family: sans-serif;
    font-size: 11px;
    background-color: #000;
    margin: 0px;
}

canvas {
    display: block;
}

.popupPanel {
    color: white;
    position: absolute;
    z-index: 10;
    padding: 3px;
    background-color: black;
    font-size: 14px;
}

.popupPanel h1{
    font-size: 18px;
    margin-top: 0px;
}

.exitButton {
    color: white;
    position: absolute;
    z-index: 11;
    background-color: black;
    top: 1px;
    right: 1px;
}

#divPanelEdit{
    top: 10px;
    left: 10px;
}

#divFaceEdit{
    top: 10px;
    right: 10px;
}
